<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Man braid raclette fingerstache pour-over distillery butcher 8-bit chia portland microdosing seitan blog hot chicken pug biodiesel. Pork belly iceland ramps poke pop-up flexitarian, woke craft beer chillwave art party yuccie authentic offal. Prism tbh helvetica hell of beard celiac chillwave typewriter normcore hashtag keytar banjo. Flannel williamsburg copper mug tacos kogi iPhone hashtag freegan pok pok. Freegan keffiyeh cold-pressed, 90's gochujang kogi post-ironic next level hashtag flannel tattooed vape quinoa swag pour-over.</p>
  </div>

</div>
